// GENERAL
*
	box-sizing: border-box

body
	margin: 0

a
	text-decoration: none

// Mixins
$navbar-index: 300
$content-index: 100
$primary-color: #B69B77
$width: 1000px

=std-transition
	transition: all 0.2s ease-in-out	

// OOCSS Classes
.hidden-desktop
	display: none

.flex
	display: flex

.special-font
	font-family: 'Satisfy', cursive
	color: #333

.regular-font
	font-family: 'Lato', sans-serif
	color: #888

.hover-content
	max-width: $width
	min-height: 500px
	margin-top: -50px
	margin-bottom: -50px
	background: #fff
	flex-wrap: wrap

.hover-background
	justify-content: center
	align-items: center
	width: 100%
	min-height: 400px
	background-color: #eee

.big-section-title
	width: 100%
	height: 500px
	background: grey
	justify-content: center
	align-items: center
	font-size: 2em
	color: #fff	
	margin: 0
	letter-spacing: 10px
	text-shadow: 0 0 5px #000

.display-list
	text-align: center
	.title
		width: 100%
		height: 50px
		letter-spacing: 5px
	.menu-list
		width: 100%
		flex-wrap: wrap
		justify-content: space-between
		.menu-item
			width: calc(50% - 20px)
			display: flex
			text-align: left
			.pull-left
				h3
					text-transform: uppercase
					color: #333
			.pull-right
				h1 
					color: $primary-color

.speciality
	display: flex
	width: 50%
	height: 250px
	flex-grow: 1
	text-align: center
	.details
		width: 50%
		height: inherit
		padding: 2em
		.title
			text-transform: uppercase
			color: #333
			font-weight: 700
			letter-spacing: 3px
		.price
			text-transform: uppercase
			font-size: 1em
			font-weight: 700
			color: $primary-color
	.image
		width: 50%
		height: inherit
		&.one
			background: url('../img/croquette.jpg') center no-repeat
			background-size: cover			
		&.two
			background: url('../img/omelette.jpg') center no-repeat
			background-size: cover		
		&.three
			background: url('../img/pisto.jpg') center no-repeat
			background-size: cover		
		&.four
			background: url('../img/polbo.jpg') center no-repeat
			background-size: cover		


// NAVBAR
.navbar
	z-index: $navbar-index
	flex-direction: row
	justify-content: space-between
	align-items: center
	height: 80px
	width: 100%
	background: rgba(0,0,0,0.5)
	position: fixed
	padding: 0 2em
	.nav-logo
		a img
			height: 60px
	.nav-menu
		height: 100%
		.navigation
			flex-direction: row
			height: inherit
			margin: 0
			padding: 0
			.nav-links
				height: inherit
				font-weight: 600
				display: inline-block
				margin: auto 10px
				+std-transition
				a
					align-items: center
					justify-content: center 
					margin: auto
					height: 100%
					color: #fff
					text-decoration: none
					&:active, &:hover
						color: $primary-color

// MAIN CONTENT
.content
	z-index: $content-index
	.home
		justify-content: center
		align-items: center
		align-content: center
		flex-direction: column
		height: 100vh
		width: 100%
		background: url('../img/cutlery.jpg') center no-repeat
		background-size: cover
		.about
			text-align: center
			margin-top: auto
			text-shadow: 0 0 5px #000			
			h1
				font-size: 8em
				color: #fff
				margin: 0
			h3
				font-size: 3em
				color: #fff
				letter-spacing: 10px
		.scroll-down
			margin-top: auto
			margin-bottom: 4em
			.wrapper
				width: 35px
				height: 50px
				border-radius: 50px
				justify-content: center
				align-items: center
				border: 3px solid #fff
				.dot
					background: #fff
					width: 7px
					height: 7px
					border-radius: 100%
					animation: scroll-down 2s infinite
	.reservations-about
		.wrapper
			text-align: center
			.reservations
				width: 100%
				height: 250px
				flex-direction: row
				.details
					justify-content: center
					align-items: center
					flex-direction: column
					width: 30%
					height: 100%
					background: #fff
					padding: 2em
					h1
						font-size: 2em
						margin: 0
					.cta
						+std-transition
						color: $primary-color
						font-weight: 700
						border: 3px solid lighten($primary-color, 20%)
						border-radius: 3px
						padding: 1em
						&:hover, &:active
							background: lighten($primary-color, 20%)
							color: #fff
				.image
					width: 70%
					height: 100%
					background: url('../img/outside.jpg') center no-repeat
					background-size: cover
			.about
				width: 100%
				height: 250px
				flex-direction: row-reverse
				.details
					justify-content: center
					align-items: center
					flex-direction: column					
					width: 70%
					height: 100%
					padding: 2em
					h1
						font-size: 2em
						margin: 0 						
				.image
					width: 30%
					height: 100%
					background: url('../img/restaurant.jpg') center no-repeat
					background-size: cover
	.specialities-title
		background: url('../img/tapas.jpg') center no-repeat
		background-size: cover
	.specialities-content
		.wrapper
			width: 100%
			.reverse
				flex-direction: row-reverse
	.menu-title
		background: url('../img/brunch.jpg') center no-repeat
		background-size: cover
	.menu-content
		justify-content: center
		padding: 4em 0
		.wrapper
			max-width: $width
			text-align: center
			h1
				font-size: 3em
				color: #333
	
.footer
	width: 100%
	height: 50px
	justify-content: center
	align-items: center
	background-color: #333
	text-transform: uppercase
	letter-spacing: 3px
	font-weight: 900
	p
		color: #fff
		.fas
			color: #EA4537
		a
			color: #0A89EA
			&:hover, &:active
				color: #fff

// MOBILE MEDIAQUERY
@media (max-width: 992px)
	.navbar
		height: 50px
		padding: 0 10px
		&.black
			background-color: #000
		.nav-logo
			a img
				height: 40px
		.menu-btn 
			cursor: pointer
			&.menu-btn.pressed .line:nth-child(2) 
				opacity: 0
			&.menu-btn.pressed .line:nth-child(1) 
				transform: translateY(10px) rotate(45deg)
			&.menu-btn.pressed .line:nth-child(3) 
				transform: translateY(-10px) rotate(-45deg)
			&:hover
				.line
					background-color: $primary-color
			.line 
				width: 40px
				height: 4px
				display: block
				background-color: #fff
				margin: 6px auto
				+std-transition
		.nav-menu
			width: 100%
			height: 100vh
			position: absolute
			top: 50px
			left: 0
			padding: 1em
			z-index: 250
			background-color: #000
			display: none
			&.shown
				display: block !important
			.navigation
				height: 100%
				justify-content: flex-start
				align-items: center
				flex-direction: column
				.nav-links
					margin: 0
					font-size: 1.5em
					height: 75px
					a
						height: 100%
						display: flex
						align-items: center
	.content
		.home
			.about
				h1
					font-size: 6em
				h3
					font-size: 1.5em
		.reservations-about
			.wrapper
				margin-left: 10px
				margin-right: 10px
				.reservations
					flex-wrap: nowrap
					flex-direction: column
					min-height: 600px
					.details
						width: 100%
						height: 300px
					.image
						width: 100%
						height: 300px
				.about
					flex-wrap: nowrap
					flex-direction: column
					min-height: 600px
					.details
						width: 100%
						height: 300px
					.image
						width: 100%
						height: 300px
		.specialities-title
			h1
				font-size: 0.9em
				text-align: center
		.specialities-content 
			.wrapper
				margin-left: 10px
				margin-right: 10px
				.speciality
					display: flex
					width: 100%
					min-height: 400px
					flex-direction: column
					.details
						width: 100%
						height: 200px
						padding: 2em
					.image
						width: 100%
						height: 200px
		.menu-title
			h1
				font-size: 1em
		.menu-content
			.wrapper
				padding: 0 10px
				.display-list
					.menu-list
						.menu-item
							width: 100%
	.footer
		p
			letter-spacing: 1px

// PRELOADER
#preloader
	z-index: 900
	display: none
	position: fixed
	background-color: #000
	width: 100vw
	height: 100vh
	justify-content: center
	align-items: center
	&.shown
		transition: all 0.2s ease-in-out
		display: flex !important
		opacity: 1
	&.animated
		opacity: 0
	.spinner 
		width: 100px
		height: 100px
		position: relative
		margin: 100px auto
		.double-bounce1, .double-bounce2 
			width: 100%
			height: 100%
			border-radius: 50%
			background-color: #fff
			opacity: 0.6
			position: absolute
			top: 0
			left: 0
			animation: sk-bounce 2.0s infinite ease-in-out
		.double-bounce2 
			-webkit-animation-delay: -1.0s
			animation-delay: -1.0s

@keyframes sk-bounce 
	0%, 100%  
		transform: scale(0.0)
    	-webkit-transform: scale(0.0)
	50%  
    	transform: scale(1.0)
    	-webkit-transform: scale(1.0)
  
// ANIMATIONS
@keyframes scroll-down
	0%
		transform: translateY(-15px)
		opacity: 0
	25%
		opacity: 1
	75%
		opacity: 0
	100%
		transform: translateY(20px)
		opacity: 0
